.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	position: sticky !important;
	top: 0;
	z-index: 100;
	background-color: white;
}
.header__logo {
	height: 25px;
	object-fit: contain;
	margin-left: 20px;
}
.header__input {
	display: flex;
	align-items: center;
	width: 40%;
	padding: 2px;
	border: 1px solid black;
	border: 1px solid lightgray;
}
.header__inputButton {
	width: 40px !important;
	background-color: #fafafa;
	border-left: 1px solid lightgray;
	color: gray;
}

.header__icon {
	display: flex;
	align-items: center;
}
.icon {
	margin-right: 2px !important;
}
.header__icon:last-child {
	margin-right: 10px;
}
.header__input > input {
	flex: 1;
	border: none;
}
@media screen and (max-width: 538px) {
	.header__input > input {
		width: 10% !important;
		padding: 0;
	}
	.header__logo {
		height: 20px;
		width: 80px;
		object-fit: contain;
		margin-left: 20px;
	}
	.header__icon {
		margin-right: 0px;
		height: 10px;
		width: 100px;
	}
}
