.videoCard {
	margin-bottom: 40px;
	width: 270px;
}
.videoCard__thumbnail {
	height: 140px;
	width: 250px;
}
.videoCard__info {
	display: flex;
	margin-top: 10px;
	padding-right: 30px;
}
.videoCard__text {
	margin-left: 10px;
}
